extends base

block content 
    h4 Update Video
    form(method="POST") 
        input(name="title" placeholder="Video Title", value=video.title required)
        input(type="text" placeholder="Description" value=video.description required name="description" minlength=20)
        input(type="text" placeholder="Hashtags, seperated by comma." value=video.hashtags.join() required name="hashtags")
        input(type="submit" value="Save")